/* Style 1: Minimalistyczny styl */
header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  font-size:40px;
  border-bottom: 2px solid #ccc;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  color: #555;
  margin-bottom: 8px;
}

p {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  display: inline;
  list-style-type: disc;
  margin-left: 20px;
}

li {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #444;
  margin-bottom: 8px;
  list-style:  none;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f4f4f4;
  padding: 10px;
  clear: both;
  text-align: center;
  color: #777;
  border-top: 2px solid #ccc;
}

@media (min-width: 350px){

  #img-chess-figures {
    clear: both;
  }

  #img-chess-figures img {
    width: 100%;
  }

  #list-of-figures {
    clear: both;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

}

@media (min-width: 1200px) {

  #container-figures {
    width: 100%;
    display: flex;
  }

  #img-chess-figures {
    float: left;
    display: flex;
    justify-content: center;
    width: 45%;
  }

  #img-chess-figures img {
    margin-left: 100px;
    margin-right: 50px;
    width: 500px;
  }

  #list-of-figures {
    float: right;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 45%;
  }
}
