/* Style 2: Kolorowy styl */
header {
  background-color: #ff6f61;
  padding: 30px;
  text-align: left;
  color: white;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color: pink;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  color: #ffd700;
  text-transform: uppercase;
}

p {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
  padding: 10px;
  border-radius: 5px;
}

p::first-letter {
  font-size: 3.5em; /* Zwiększamy rozmiar pierwszej litery */
  float: left; /* Powoduje, że tekst oblewa literę */
  line-height: 1; /* Ustalamy wysokość linii, aby litera była równa */
  margin-right: 10px; /* Odstęp między literą a resztą tekstu */
  font-weight: bold; /* Litera pogrubiona */
}

.box {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: lightblue;

}


ul {
  list-style-type: none;
  margin-left: 30px;
  color: #ffd700;
}

li {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: #1af;
  margin-bottom: 12px;
}

li:hover {
  color: #bbb;
}

a {
  color: #ffeb3b;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

footer {
  background-color: #ff6f61;
  padding: 20px;
  text-align: right;
  color: white;
}

#img-chess-figures {
  display: flex;
  justify-content: center;
}

@media (min-width: 1440px) {
  #rules{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;

  }

  .box {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: lightblue;
  }
  #img-chess-figures img {
    width: 600px;
  }

  #list-of-figures {
    text-align: center;
  }

}

@media (min-width: 700px) {

  #rules{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;

  }

  .box {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: lightblue;
  }

  #img-chess-figures img {
    width: 600px;
  }

  #list-of-figures {
    text-align: center;
  }
}

@media (min-width: 300px) {


  #chess-figure {
    width: 100%;
  }

  #list-of-figures {
    text-align: center;
  }

  .box {
    margin: 10px;
  }
}
