# Ignoruj wszystkie pliki i foldery
*

# Nie ignoruj pliku .gitignore
!.gitignore

# Wyjątki dla konkretnych plików
!page1.html
!page2.html

# Wyjątki dla folderów i ich zawartości
!img/chess-figures.PNG
!css/page1.css
!css/page2.css
